{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>Esta aplicação gerencia vestibulares.</p>
<br>
<p><h2>Atividade - AC08 - Grupo LMS/OPE </h2></p>
<p>Marcelo de Oliveira - RA 1800194</p>
<p>Anne Caroline Sena Silva Cruz - RA 1701851</p>
<p>Cesar Alves Vicente - RA 1800368</p>
<p>Thais Frederico da Silva - RA 1800267</p>
<p>Joyce Olympio Fonseca - RA Joyce Olympio Fonseca</p>
<p>Carlos Oliveira Teixeira - RA 1800059</p>
<p>João Henrique Garcia - RA 1801255</p>

{% endblock %}
