{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    Empresa Software Line of Code<br />
    Rua Exeption, 2018 - 7o. Bloco de Notas<br />
    <abbr title="Telefone">Tel: (11) 9999-6666</abbr>
    06666-100
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:Suporte@example.com">Suporte@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<br>
<p><h2>Atividade - AC08 - Grupo LMS/OPE </h2></p>
<p>Marcelo de Oliveira - RA 1800194</p>
<p>Anne Caroline Sena Silva Cruz - RA 1701851</p>
<p>Cesar Alves Vicente - RA 1800368</p>
<p>Thais Frederico da Silva - RA 1800267</p>
<p>Joyce Olympio Fonseca - RA Joyce Olympio Fonseca</p>
<p>Carlos Oliveira Teixeira - RA 1800059</p>
<p>João Henrique Garcia - RA 1801255</p>

{% endblock %}
